<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lista_temas</key>
	<string>https://aspx.com.ar/scoutLib.php?topic=6&amp;idioma=</string>
	<key>lista_libros</key>
	<string>https://aspx.com.ar/scoutLib.php?topic=5&amp;key=</string>
	<key>lista_busqueda</key>
	<string>https://aspx.com.ar/scoutLib.php?topic=3&amp;key=</string>
</dict>
</plist>
